body {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #373A3C;
  font-size: 16pt;
}

h1 {
  font-size: 72pt;
  font-weight: bold;
}

h2 {
  font-size: 34pt;
  font-weight: bold;
}

section {
  padding-top: 64px;
  padding-bottom: 64px;
}

a:hover {
  text-decoration: none;
  font-weight: 600;
}

.green-background, .green-background a, .green-background h1 {
  color: #ffffff;
  background-color: #679967;
}

.darkgreen-text, .green-background a:hover, .green-background a:active, .green-background a:focus {
  color: #194B19;
}

.centered {
  display: inline-block;
  width: auto;
  text-align: center;
}

/* navbar */

header {
  height: 100px;
  padding-top: 32px;
  padding-bottom: 64px;
}

#navbar a {
  margin-left: 24px;
}

/* float sections */

.left-half, .left-nav {
  float: left;
}

.right-half, .right-nav, .right-nav a {
  float: right;
}

.left-half {
  width: 58%;
}

.right-half {
  width: 42%;
}

.left-nav {
  width: 25%;
}

.right-nav {
  width: 75%;
}

/* home page sections */

#title {
  height: 575px;
}

#title h2 {
  font-weight: normal;
}

#background {
  height: 650px;
}

#steps {
  height: 625px;
}

.big-stat {
  color: #194B19;
  font-size: 72pt;
  font-weight: bold;
}

#title img {
  width: 100%;
}

#background img{
  width: 115%;
  margin-top: 15%;
  margin-left: 4%;
}

#team img{
  width: 75%;
}

#steps img {
  width: 50%;
}
