body {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #373A3C;
  font-size: 16pt;
}

h1 {
  font-size: 64pt;
  font-weight: bold;
}

h2 {
  font-size: 34pt;
  font-weight: bold;
}

section {
  padding-top: 64px;
  padding-bottom: 64px;
}

a:hover {
  text-decoration: none;
  font-weight: 600;
}

.green-background, .green-background a, .green-background h1 {
  color: #ffffff;
  background-color: #679967;
}

.darkgreen-text, .green-background a:hover, .green-background a:active, .green-background a:focus {
  color: #194B19;
}

.white-text {
  color: #ffffff;
}

.centered {
  display: inline-block;
  width: auto;
  text-align: center;
}

/* navbar */

header {
  height: 100px;
  padding-top: 32px;
  padding-bottom: 64px;
}

#navbar a {
  margin-left: 24px;
}

/* float sections */

.left-side, .left-half, .left-nav {
  float: left;
}

.right-side, .right-half, .right-nav, .right-nav a {
  float: right;
}

.left-side {
  width: 58%;
}

.right-side {
  width: 42%;
}

.left-half, .right-half {
  width: 50%;
}

.left-nav {
  width: 25%;
}

.right-nav {
  width: 75%;
}

/* home page */

#title {
  height: 575px;
}

#title h2 {
  font-weight: normal;
}

#background {
  height: 650px;
}

#steps {
  height: 625px;
}

.big-stat {
  color: #194B19;
  font-size: 72pt;
  font-weight: bold;
}

#title img {
  width: 100%;
}

#background img{
  width: 115%;
  margin-top: 15%;
  margin-left: 4%;
}

#team img{
  width: 75%;
}

#steps img {
  width: 50%;
}

/* get started and sign in pages */

#getstarted, #signin {
  padding-top: 0;
}

#getstarted .left-half, #signin .left-half{
  padding-top: 64px;
}

#getstarted .right-half, #signin .right-half {
  background-image: url("../imgs/background.png");
  background-size: cover;
  height: 850px;
  padding-top: 15%;
  padding-left: 5%;
}

#getstarted h1, #signin h1{
  font-weight: normal;
}

.form-group, #getstarted button, #signin button {
  width: 75%;
}

.form-group {
  margin-bottom: 5%;
}

#getstarted button, #signin button {
  margin-top: 5%;
}

/* advice page */

#advice img {
  width: 75%;
}
